<%= video_tag @video.file.url, :size => "320x240", :autoplay => true, controls: true, class: "w-100" if @video.file? %>
<h4>
  <%= @video.title %>
</h4>
uploader: <%= @video.user.email %>
<%= simple_format @video.description %>
<%= @video.view_count.to_i %> <%= pluralize_without_count(@video.view_count.to_i, 'view') %>
<div class="mt-2">
  <% if current_user && @video.user == current_user %>
    <%= link_to 'Edit', edit_video_path(@video), class: "btn btn-outline-primary" %>
    <%= link_to 'Delete', @video, method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-outline-danger" %>
  <% end %>
</div>
<br />
<br />
<div id="comments">
  <%= render "videos/comments" %>
</div>
