<!DOCTYPE html>
<html>
  <head>
    <title>Kongtube</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="navbar-brand">
        <%= fa_icon "youtube-play", class: "text-danger mr-2" %>
        KONGTUBE
      </a>
      <%= form_tag videos_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag :q, params[:q], class: "form control mr-2" %>
        <%= submit_tag "search", class: "btn btn-danger" %>
      <% end %>
      <div>
        <% if current_user %>
          <%= link_to "upload", new_video_path, class: "btn btn-danger" %>
          <%= link_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
        <% else %>
          <%= link_to "login", new_user_session_path, class:"btn btn-danger" %>
          <%= link_to "register", new_user_registration_path, class:"btn btn-outline-danger" %>
        <% end %>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
